.SemestreDiv{
    min-width: 500px; 
    background-color: rgb(91, 188, 248);
    border-radius: 10px; 
    padding: 3em; 
    margin: 20px; 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    height: 30vh;
    flex-direction: column;
}

.DisciplinaDiv{
    border-radius: 10px;
    padding: 1em;
    margin-left: 20px;
    min-width: 100px;
    min-height: 60px;
    background-color: #172496;
    grid-auto-flow: row;
    flex-direction: column;
    overflow-wrap: break-word;
}

@media (max-width: 600px){
    .DisciplinaDiv{
        flex-direction: column;
    }
}

.transfereDisc{
    background-color: #172496;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}