.FormIngresso{
    background-color: rgb(91, 188, 248);
    display: block;
    justify-content: center;
    max-width: 400px;
    padding: 1.5em;
    border-radius: 10px;
    /* margin-left: 100px;
    margin-right: 100px; */
    margin: 0 auto;
}